{{/*
This template will allow create a configmap from a file.
*/}}

{{- $root := . -}}
{{- if .Values.cmf }}
{{- range $configMapName, $configMap := .Values.cmf }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $configMapName }}
  labels: 
    {{- include "common.labels.standard" $root | nindent 4 }}
data:
{{ $configMapName | indent 2}}: |-
{{ $configMap.data | indent 4}}
{{- end }}
{{- end }}
