{{- $root := . -}}
{{- $serviceName := include "common.fullname" . -}}
{{- range $name, $ingress := .Values.ingress -}}
{{- if $ingress.enabled }}
---
{{- if $root.Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta
{{- end }}
kind: Ingress
metadata:
{{- with $ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
{{- if $root.Values.IncludeForecastleEnv.enabled }}
    # Forecastle gives you access to a control panel where you can see your running applications and access them on Kubernetes.
    # https://github.com/stakater/Forecastle
    # Show the app on the forecastle panel
    forecastle.stakater.com/expose: "true"
    # Name of the group to put this app.. Use if you want to show in different group  than the namespace.
    forecastle.stakater.com/group: {{ $root.Values.IncludeForecastleEnv.group }}
    # A comma separated list of name of the forecastle instance. Use when you have multiple forecastle dashboards
    forecastle.stakater.com/instance: {{ $root.Values.IncludeForecastleEnv.instance }}
    # Use a different name, if empty will use the default app name.
    # forecastle.stakater.com/appName: "emaster-pos-dev-00"
{{- end }}
  labels:
{{- with $ingress.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
{{ include "common.labels.standard" $root | indent 4 }}
    ingressName: {{ $name }}
  name: {{ include "common.fullname" $root }}-{{ $name }}
spec:
  rules:
{{- range $host, $path := $ingress.hosts }}
    - host: {{ $host }}
      http:
        paths:
          - path: {{ $path }}
{{- if $root.Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $serviceName }}
                port:
{{- if default "<none>" $ingress.port | regexMatch "^[0-9]*$" }}
                  number: {{ $ingress.port }}
{{- else }}
                  name: {{ hasKey $ingress "port" | ternary $ingress.port "default" }}
{{- end }}
{{- else }}
            backend:
              serviceName: {{ $serviceName }}
              servicePort: {{ hasKey $ingress "port" | ternary $ingress.port "default" }}
{{- end }}

{{- end -}}
{{- with $ingress.tls }}
  tls:
{{ toYaml . | indent 4 }}
{{- end -}}
{{- end -}}
{{- end -}}
